# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree


/.emacs.desktop
/.emacs.desktop.lock
/bookmarks
/elpa/
/history
/image-dired/
/librime/
/manual-headers/
/plantuml.jar
/pyim/
/rime/
/transient/
/url/
/company-statistics-cache.el
/ignore.el
/.cache/
/.lsp-session-v1
/eclipse.jdt.ls/
/workspace/
/.dap-breakpoints
/lombok.jar
.DS_Store
/projects
/eaf/
/site-lisp/
/anaconda-mode/
/elpy/
/tramp
